@media screen and (min-width: 0px) {
	section {
		width: 100%;
		height: calc(100vh - 130px);
		position: static;
		background-color: #fff;
		margin-top: 0;
		margin-left: 0;
	}
	section h1 {
		height: 30px;
		margin-top: 80px;
		margin-left: 10%;
		margin-right: 10%;
		font-family: arial;
		font-size: 23px;
		font-weight: 500;
		color: #111;
	}
  #link {
    height: 30px;
		margin-top: 20px;
		margin-left: 10%;
		margin-right: 10%;
		font-family: arial;
		font-size: 25px;
		font-weight: 500;
		color: #111;
  }
	#link a {
    text-decoration: none;
		color: #111;
		display: flex;
		justify-content: center;
		margin-top: 25vh;
  }
	footer {
		margin-top: 0px;
		position: static;
	}
	.github_link {
		position: fixed;
		right: -100px;
		bottom: -100px;
		width: 200px;
		height: 200px;
		z-index: 100;
		background-color: #0078ff;
		text-align: center;
		transform: rotate(-45deg);
	}
	.github_link a {
		font-family: sans-serif;
		font-size: 23px;
		color: #fff;
		text-decoration: none;
	}
}

@media screen and (min-width: 960px) {
	section {
		width: 100%;
		height: calc(80vh - 80px);
		position: static;
		background-color: #fff;
		margin-top: 0;
		margin-left: 0;
	}
	section h1 {
		height: 30px;
		margin-top: 20vh;
		margin-left: 10%;
		font-family: arial;
		font-size: 23px;
		font-weight: 500;
		color: #111;
	}
	footer {
		position: static;
		margin-top: 200px;
	}
	.github_link {
		position: fixed;
		right: -100px;
		bottom: -100px;
		width: 200px;
		height: 200px;
		z-index: 100;
		background-color: #0078ff;
		text-align: center;
		transform: rotate(-45deg);
	}
	.github_link a {
		font-family: sans-serif;
		font-size: 23px;
		padding-top: 10px;
		color: #fff;
		text-decoration: none;
	}
}
