@media screen and (min-width: 0px) {
  * {
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  section {
		width: 100%;
		height: calc(100vh - 130px);
		position: static;
		background-color: #fff;
		margin-top: 0;
		margin-left: 0;
	}
	section h1 {
		height: 30px;
		margin-top: 80px;
		margin-left: 10%;
		margin-right: 10%;
		font-family: arial;
		font-size: 23px;
		font-weight: 500;
		color: #111;
	}
  #score {
    font-family: sans-serif;
    font-size: 18px;
    margin: 5px auto 0 10%;
    display: inline-block;
  }
  canvas {
    position: absolute;
    left: calc(50% - 150px);
    top: 35%;
    margin: 0;
  }
	footer {
		margin-top: 0px;
		position: static;
	}
	.github_link {
		position: fixed;
		right: -100px;
		bottom: -100px;
		width: 200px;
		height: 200px;
		z-index: 100;
		background-color: #0078ff;
		text-align: center;
		transform: rotate(-45deg);
	}
	.github_link a {
		font-family: sans-serif;
		font-size: 23px;
		color: #fff;
		text-decoration: none;
	}
}

@media screen and (min-width: 960px) {
	section {
		width: 100%;
		height: calc(80vh - 80px);
		position: static;
		background-color: #fff;
		margin-top: 0;
		margin-left: 0;
	}
	section h1 {
		height: 30px;
		margin-top: 20vh;
		margin-left: 10%;
		font-family: arial;
		font-size: 23px;
		font-weight: 500;
		color: #111;
	}
  #score {
    font-family: sans-serif;
    font-size: 23px;
    margin: 400px auto 0 10%;
    display: inline-block;
  }
  canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
  }
	footer {
		position: static;
		margin-top: 200px;
	}
	.github_link {
		position: fixed;
		right: -100px;
		bottom: -100px;
		width: 200px;
		height: 200px;
		z-index: 100;
		background-color: #0078ff;
		text-align: center;
		transform: rotate(-45deg);
	}
	.github_link a {
		font-family: sans-serif;
		font-size: 23px;
		padding-top: 10px;
		color: #fff;
		text-decoration: none;
	}
}
